

body{
    background: #111;
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {

}
body::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 5px;
}

.block{
    background: #050505;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: #cccccc;
}
a:hover{
    color: #fff;
}
.file-item{
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    color: #aaa;
    transition: .2s;
    margin-bottom: 25px;
}
.file-item:hover{
    background-color: #5555;
    cursor: pointer;
}

.file-item>center>img{
    width: 80%;
    height: 80%;
}

.upload-block{
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000a;
    color: white;
}
.upload-block-content{
    margin-top: 9%;
}

.disable{
    visibility: hidden;
}


/* внешний вид меню */
.context-menu {
    font-family: sans-serif;
    position: absolute;
    display: none;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    color: #aaa;
}
.context-menu:hover{
    cursor: pointer;
}

.context-menu-line{
    border: #fff3 .1px solid;
}

td{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
tr:hover{
    color: white;
}







.form-console{
    margin: 10px;
    padding: 10px;
    max-width: 100%;
    width: 90%;
    line-height: 1.5;
    border: 1px solid #ccc;
    background-color: #000;
    color: #fff;

    font-family: Verdana, Geneva, sans-serif;
    font-size:16px;
}

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-track {

}

textarea::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 5px;
}